.container{
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  font-weight: bolder;
}
.container ul{
  display: flex;
  gap: 19px;
  list-style: none;
  margin-right: 65px;
  font-size: 20px;
}
.logo{
  margin-left: -103px
}
.contants h1{
  font-weight: 900;
    font-size: 35px;
    margin: 53px 0px 0px 207px;
    margin-left: 194px;
}
.contants p{
  
    
  margin-left: 185px;
  gap: 50px;
}

.button{
  display: flex;
  gap: 19px;
  margin-left: 194px;
  margin-top: 44px;
}
.btn1{
  width: 165px;
}
.btn2{
  width: 181px;
  height: 33px;
  font-size: 14px;
}
.email-button{
  background-color: white;
  margin-left: 197px;
  margin-top: 16px;
  width: 342px;
  height: 37px;
  border-radius: 5px;
}
.forms{
  background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 17px;
    margin-left: 202px;
    width: 329px;
}


.SUBMIT{
  margin-left: 368px;
  margin-top: 10px;
  width: 160px;
}

.image{
  
  width: 447px;
  height: 489px;
  margin-top: -505px;
  margin-left: 571px;

  

}
  